{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block navigation %}
{% include 'navigation.html' %}
{% endblock %}

{% block content %}
    <section class="main-page-welcome-block">
        
    </section>

    <section class="main-page-about-project">

    </section>

    <section class="main-page-author">

    </section>

    <section class="main-page-about-brainbuy">

    </section>

    <section class="main-page-about-courses">

    </section>

    <section class="main-page-contacts"></section>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}