@import "common_variables.css";

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.nav-container img {
  width: 15rem;
  margin-right: auto;
}

.nav-container ul {
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}
.nav-container ul .logo{
  margin-right: auto;
}
.nav-container ul a {
  text-decoration: none;
  color: inherit;
}
.nav-container ul li{
  margin: 1.5em;
  color: var(--main-h-color);
  font-family: var(--main-font-family);
}

.nav-container ul li:hover{
  text-shadow: var(--main-light-blue-background);
  cursor: pointer;
}