{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="shortcut icon" href={% static 'img/classroom.png' %} type="image/x-icon">
    <style>
        *, html{
            box-sizing: border-box;
            margin: 0;
        }
        body{
            position: relative;
        }
    </style>
    <link rel="stylesheet" href="{% static 'style/navigation.css' %}">
</head>
<body>
<nav>
    {% block navigation %}
    {% endblock %}
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    {% block footer %}
    {% endblock %}
</footer>
</body>
</html>