<div class="footer-container">
    <table>
        <tr>
            <th>Социальные сети</th>
            <th>Обучение</th>
            <th>Общение</th>
        </tr>
        <tr>
            <td>ВКонтакте</td>
            <td>Python</td>
            <td>Онлайн чат</td>
        </tr>
        <tr>
            <td>Telegram</td>
            <td>DataScience</td>
            <td>Форум</td>
        </tr>
        <tr>
            <td>GitHub</td>
            <td>Machine Learning</td>
            <td>Блог</td>
        </tr>
        <tr>
            <td></td>
            <td>Computer Vision</td>
            <td></td>
        </tr>
    </table>
    <p>Разработчик: Деркунов Михаил 2024-2024</p>
</div>