<div class="footer-container">
    <ul class="footer-social">
        <li>Социальные сети</li>
        <li><a href="#">ВКонтакте</a></li>
        <li><a href="#">Telegram</a></li>
        <li><a href="#">GitHub</a></li>
    </ul>

    <ul class="footer-learn">
        <li>Обучение</li>
        <li><a href="#">Python</a></li>
        <li><a href="#">DataScience</a></li>
        <li><a href="#">Computer Vision</a></li>
    </ul>

    <ul class="footer-talk">
        <li>Общение</li>
        <li><a href="#">Онлайн чат</a></li>
        <li><a href="#">Форум</a></li>
        <li><a href="#">Блог</a></li>
    </ul>

</div>